.description {
  line-height: 1.8;
}
.description br {
  display: none;
}
.red {
  color: var(--red);
}
.birthday {
  color: var(--green);
}
.male {
  color: var(--blue);
}
.female {
  color: var(--red);
}
@media (min-width: 584px) {
  .description {
    text-align: center;
  }
  .description br {
    display: block;
  }
}
