.wrapper {
  --logoSize: 160px;
  --headerPadding: 16px;
  display: flex;
  justify-content: center;
  padding: calc(var(--headerPadding) + 4px) 0 var(--headerPadding);
  border-bottom: 1px solid var(--lightBrown);
  margin-inline: calc(50% - 50vw);
  transition: padding 0.2s;
}
.link {
  display: block;
  width: var(--logoSize);
  transition: width 0.44s ease-in-out;
}
@media (min-width: 768px) {
  .header {
    --logoSize: 252px;
    --headerPadding: 24px;
    padding-top: var(--headerPadding);
  }
}
