.wrapper {
  --inputMargin: 10px;
  --inputHeight: 44px;
  width: min(100%, 320px);
  margin-inline: auto;
}
.label {
  display: flex;
  align-items: center;
}
.input,
.select {
  width: calc(100% - (var(--inputMargin) + 4em));
  height: var(--inputHeight);
  margin-left: var(--inputMargin);
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 5px;
}
.labelSelect {
  position: relative;
}
.labelSelect::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 18px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: -3px;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}
@media (min-width: 550px) {
  .wrapper {
    --inputMargin: 14px;
    transform: translateX(-2px);
  }
}
