.wrapper {
  --innerPadding: 14px;
  --innerRadius: 6px;
  --urlPadding: 8px 6px;
  --closeButtonSize: 32px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in;
}
.wrapper[data-show="true"] {
  opacity: 1;
  pointer-events: auto;
}
.close {
  display: block;
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: min(90%, 800px);
  background: var(--white);
  z-index: 3;
  padding: var(--innerPadding);
  line-height: 1.6;
  border-radius: var(--innerRadius);
  transform: translate(-50%, -50%);
}
.closeButton {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
.closeButton > svg {
  width: var(--closeButtonSize);
  height: var(--closeButtonSize);
  background: var(--white);
  color: #555;
  border-radius: 100%;
  border: 2px solid var(--white);
  transition: color 0.1s;
}
.closeButton:focus-visible > svg {
  color: #777;
}
.copy {
  position: relative;
}
.url {
  word-break: break-all;
  border: 1px solid var(--gray);
  border-radius: 4px;
  line-height: 1.4;
  padding: var(--urlPadding);
}
.copy .button {
  margin: 14px auto 0;
  width: 90px;
  height: auto;
  font-size: 16px;
  padding: 8px 0 12px;
  letter-spacing: 0.1em;
  border-radius: 4px;
}
@media (min-width: 600px) {
  .wrapper {
    --innerPadding: 20px;
    --closeButtonSize: 36px;
  }
  .closeButton {
    top: -18px;
    right: -18px;
  }
}
@media (min-width: 890px) {
  .wrapper {
    --innerPadding: 28px;
    --innerRadius: 10px;
    --urlPadding: 16px 8px;
  }
  .copy .button {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 82px;
    transform: translateY(-50%);
    margin-top: -2px;
  }
}
@media (hover: hover) and (min-width: 890px) {
  .copy .button:active {
    transform: translateY(calc(-50% + 2.5px));
  }
  .closeButton:hover > svg {
    color: #777;
  }
}
