.wrapper {
  display: none;
  opacity: 0;
  transition: opacity 0.28s linear;
}
.wrapper[data-show="false"] {
  display: block;
  opacity: 1;
}
.table {
  --iconSize: 28px;
  --nameTextMargin: 6px;
}
.table,
.table tbody,
.table tr,
.table th,
.table td {
  display: block;
}
.table thead,
.table br {
  display: none;
}
.content {
  border: 1px solid var(--borderGray);
  border-radius: 6px;
  padding: 10px 14px;
}
.table .arrowTr td {
  display: flex;
  font-size: 32px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: var(--red);
  padding-bottom: 4px;
}
.nameTd {
  display: flex;
  border-bottom: 1px solid var(--borderGray);
  padding-bottom: 10px;
}
.nameInner {
  display: flex;
  align-items: center;
}
.name {
  width: calc(100% - (var(--iconSize) + var(--nameTextMargin)));
  font-size: 18px;
  margin-left: var(--nameTextMargin);
  padding-top: 1px;
}
.nameIcon {
  display: flex;
  width: var(--iconSize);
  height: var(--iconSize);
  justify-content: center;
}
.iconNoshi,
.iconKabuto {
  width: 100%;
}
.iconTorii {
  width: 22px;
}
.iconTokkuri,
.iconKimono01,
.iconKimono02,
.iconHoleCake {
  width: 24px;
}
.iconTokkuri,
.iconSchoolBag {
  transform: translateX(1px);
}
.iconGohan {
  transform: translate(-1px, -2px);
}
.iconGakuran,
.iconSailor {
  transform: translateX(-1px);
}
.dateTd {
  margin-top: 14px;
}
.descriptionTd {
  margin-top: 9px;
  line-height: 1.6;
}
@media (min-width: 414px) {
  .content {
    padding: 14px;
  }
}
@media (min-width: 768px) {
  .table {
    --iconSize: 32px;
  }
  .content {
    padding: 20px;
  }
  .nameTd {
    padding-bottom: 16px;
  }
  .name {
    font-size: 20px;
    margin-left: 10px;
  }
  .dateTd {
    margin-top: 20px;
  }
  .descriptionTd {
    margin-top: 16px;
  }
  .table .arrowTr td {
    height: 50px;
  }
  .iconTorii {
    width: 25px;
  }
  .iconTokkuri {
    width: 26px;
  }
  .iconSchoolBag {
    width: 30px;
  }
  .iconKimono01,
  .iconKimono02,
  .iconHoleCake {
    width: 26px;
  }
}
@media (min-width: 1000px) {
  .table {
    display: table;
    width: 860px;
    margin-inline: auto;
    border-spacing: 0;
    border: 1px solid var(--lightYellow);
    border-radius: 4px;
    overflow: hidden;
  }
  .table thead {
    display: table-header-group;
    background: #f9e595;
    height: 42px;
  }
  .table thead th + th {
    border-left: 1px solid var(--lightYellow);
  }
  .table tbody {
    display: table-row-group;
  }
  .table tr {
    display: table-row;
  }
  .table th,
  .table td {
    display: table-cell;
  }
  .table td {
    padding: 14px;
    border-bottom: 1px solid var(--lightYellow);
  }
  .table tr:last-of-type td {
    border-bottom: none;
  }
  .table br {
    display: block;
  }
  .table .arrowTr td {
    display: none;
  }
  .nameTd {
    flex-wrap: wrap;
  }
  .name {
    white-space: nowrap;
    font-size: 16px;
    margin-left: 12px;
    padding-top: 0;
  }
  .dateTd {
    white-space: nowrap;
    border-left: 1px solid var(--lightYellow);
    border-right: 1px solid var(--lightYellow);
  }
  .dateTd > span {
    display: flex;
    justify-content: space-between;
  }
  .iconGohan {
    transform: translate(-2px, -2px);
  }
}
@media (hover: hover) {
  .table tbody tr:hover {
    background: #fff9e8;
  }
}
