.wrapper {
  display: none;
  opacity: 0;
  transition: opacity 0.28s linear;
}
.wrapper[data-show="false"] {
  display: block;
  opacity: 1;
}
.table {
  --iconSize: 28px;
  --nameTextMargin: 6px;
}
.table,
.table tbody,
.table tr,
.table th,
.table td {
  display: block;
}
.table thead,
.table br {
  display: none;
}
.content {
  border: 1px solid var(--borderGray);
  border-radius: 6px;
  padding: 10px 14px;
}
.table .arrowTr td {
  display: flex;
  font-size: 32px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: var(--red);
  padding-bottom: 4px;
}
.nameTd {
  display: flex;
  border-bottom: 1px solid var(--borderGray);
  padding-bottom: 10px;
}
.nameInner {
  display: flex;
  align-items: center;
}
.name {
  width: calc(100% - (var(--iconSize) + var(--nameTextMargin)));
  font-size: 18px;
  margin-left: var(--nameTextMargin);
  padding-top: 1px;
}
.nameIcon {
  display: flex;
  width: var(--iconSize);
  height: var(--iconSize);
  justify-content: center;
}
.iconTorii {
  width: 24px;
}
.iconGohan {
  height: 30px;
  transform: translate(0, -1px);
}
.iconHoleCake {
  height: 26px;
}
.iconAge03 {
  height: 26px;
  transform: translate(0, 1px);
}
.iconAge05 {
  height: 26px;
  transform: translate(0.5px, 2px);
}
.iconAge07 {
  height: 25px;
  transform: translate(0, 2px);
}
.iconKabuto {
  transform: translate(0, 2px);
}
.iconSchoolBag {
  transform: translate(0.5px, 1px);
}
.iconTokkuri {
  height: 26px;
  transform: translate(0, 1px);
}
.iconGakuran {
  height: 32px;
  transform: translate(0, -2px);
}
.iconSailor {
  height: 32px;
  transform: translate(0, -2px);
}
.dateTd {
  margin-top: 14px;
}
.descriptionTd {
  margin-top: 9px;
  line-height: 1.6;
}
@media (min-width: 414px) {
  .content {
    padding: 14px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
  .table {
    --iconSize: 32px;
  }
  .content {
    padding: 20px;
  }
  .nameTd {
    padding-bottom: 16px;
  }
  .name {
    font-size: 20px;
    margin-left: 10px;
  }
  .dateTd {
    margin-top: 20px;
  }
  .descriptionTd {
    margin-top: 16px;
  }
  .table .arrowTr td {
    height: 50px;
  }
  .iconGohan {
    height: 32px;
  }
  .iconHoleCake {
    height: 28px;
    transform: translate(0, 2px);
  }
  .iconAge03 {
    height: 28px;
  }
  .iconSchoolBag {
    height: 30px;
    transform: translate(0, 2px);
  }
  .iconAge05 {
    height: 30px;
  }
  .iconAge07 {
    height: 27px;
    transform: translate(0, 3px);
  }
  .iconTokkuri {
    height: 28px;
    transform: translate(0, 2px);
  }
  .iconGakuran {
    height: 38px;
  }
  .iconSailor {
    height: 38px;
  }
}
@media (min-width: 1000px) {
  .table {
    display: table;
    width: 880px;
    margin-inline: auto;
    border-spacing: 0;
    border: 1px solid var(--lightYellow);
    border-radius: 4px;
    overflow: hidden;
  }
  .table thead {
    display: table-header-group;
  }
  .table thead th {
    background: #f9e595;
    height: 42px;
  }
  .table thead th + th {
    border-left: 1px solid var(--lightYellow);
  }
  .table tbody {
    display: table-row-group;
  }
  .table tr {
    display: table-row;
  }
  .table th,
  .table td {
    display: table-cell;
  }
  .table td {
    padding: 14px;
    border-bottom: 1px solid var(--lightYellow);
  }
  .table tbody:last-of-type tr td {
    border-bottom: none;
  }
  .table br {
    display: block;
  }
  .table .arrowTr td {
    display: none;
  }
  .nameTd {
    flex-wrap: wrap;
  }
  .name {
    white-space: nowrap;
    font-size: 16px;
    padding-top: 0;
  }
  .dateTd {
    white-space: nowrap;
    border-left: 1px solid var(--lightYellow);
    border-right: 1px solid var(--lightYellow);
  }
  .dateTd > span {
    display: flex;
    justify-content: space-between;
  }
  .iconNoshi {
    transform: translate(0, -2px);
  }
  .iconTorii {
    transform: translate(1px, -1px);
  }
  .iconGohan {
    height: 34px;
    transform: translate(0, -3px);
  }
  .iconHoleCake {
    transform: translate(0, 1px);
  }
  .iconSchoolBag {
    transform: translate(0, 0);
  }
  .iconKabuto {
    transform: translate(0, 0);
  }
  .iconAge05 {
    transform: translate(0, 0);
  }
  .iconAge07 {
    height: 27px;
    transform: translate(0, 2px);
  }
  .iconGakuran {
    transform: translate(0, -4px);
  }
  .iconSailor {
    transform: translate(0, -4px);
  }
}
@media (hover: hover) {
  .table tbody tr:not(.arrowTr):hover {
    background: #fff9e8;
  }
}
