.wrapper {
  display: flex;
  height: 140px;
  justify-content: center;
  pointer-events: none;
  transition: height 0.28s linear, opacity 0.28s linear;
  opacity: 1;
}
.wrapper[data-show="false"] {
  opacity: 0;
  height: 0;
}
.contents {
  position: relative;
  width: 140px;
  height: 140px;
}
.icon {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.icon[data-show="true"] {
  display: block;
}
.normal svg,
.smile svg {
  position: absolute;
  width: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.smile svg:nth-of-type(1),
.smile svg:nth-of-type(2) {
  width: 44px;
}
.smile svg:nth-of-type(1) {
  top: 14px;
  left: 20px;
  transform: rotate(-32deg);
}
.smile svg:nth-of-type(2) {
  top: 9px;
  left: 77px;
  transform: rotate(32deg);
}
.text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: var(--yellow);
}
