.wrapper {
  display: flex;
  justify-content: center;
  pointer-events: none;
  transition: opacity 0.4s ease-out;
  opacity: 1;
}
.wrapper[data-show="false"] {
  opacity: 0;
}
.contents {
  position: relative;
  width: 140px;
  height: 140px;
}
.icon {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.icon[data-show="true"] {
  display: block;
}
.svgNormal,
.svgSmile {
  position: absolute;
  width: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.svgEffect {
  position: absolute;
  width: 44px;
}
.svgEffect.effect01 {
  top: 14px;
  left: 20px;
  transform: rotate(-32deg);
}
.svgEffect.effect02 {
  top: 9px;
  left: 77px;
  transform: rotate(32deg);
}
.text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: var(--yellow);
}
